# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directory
venv/
env/
ENV/

# VSCode settings (if using VSCode)
.vscode/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/

# pipenv files
Pipfile
Pipfile.lock

# pyenv
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store

# Environment variables
.env

*.mp3 

lang-models
images

